__pycache__/
instance/
goingsolovirtualenvironment1/
Trash/
Old/
Google solar API/

.DS_Store
Data/.DS_Store
Data/Zips/.DS_Store

local_*
slopes_*

b_HandleQuery_01.py
c_SavingsModel_02.py
c_SavingsModel_03.py
c_SavingsModel_04.py
c_SavingsModel_05.py
c_SavingsModel_06.py