__pycache__/
instance/
goingsolovirtualenvironment1/
Trash/

.DS_Store

APICaller_v1.py
Main_v3.py
Main_v100.py
Main_vAPI.py
MergeCachedKelvinOutput.py

testing_workspace.py
testing_workspace2.py
v_variable_speedtest.ipynb
v_dictionary_speedtest.ipynb